.bioConcejal{
    display: grid;
    grid-template-columns: repeat(8, minmax(auto,auto));
    grid-template-rows: repeat(4, minmax(auto,auto));  
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.fotoPersona{
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 3; 
}
.nombrePersona{
    grid-column-start: 2; 
    grid-column-end: 6; 
    grid-row-start: 1; 
    grid-row-end: 1; 
}
.periodosAnteriores{
    grid-column-start: 2; 
    grid-column-end: 6; 
    grid-row-start: 1; 
    grid-row-end: 2; 
    align-self: flex-end;
}
.otrosDeBancada{
    grid-column-start: 7; 
    grid-column-end: 9; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}
.mapa{
    grid-column-start: 1; 
    grid-column-end: 6; 
    grid-row-start: 3; 
    grid-row-end: 4; 
}
.tablaPeriodos{
    grid-column-start: 7; 
    grid-column-end: 9; 
    grid-row-start: 3; 
    grid-row-end: 4; 
}
.hojaDeVida{
    grid-column-start: 1; 
    grid-column-end: 6; 
    grid-row-start: 4; 
    grid-row-end: 5; 
}
.twitterFeed{
    grid-column-start: 7; 
    grid-column-end: 9; 
    grid-row-start: 4; 
    grid-row-end: 5; 
}